/* app.css */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.5rem;
}

.card {
  @apply p-4 bg-white dark:bg-gray-800 rounded-xl shadow-md transition;
}

h1, h2, h3 {
  @apply text-gray-900 dark:text-gray-100;
}
