version: "3.8"

services:
  backend:
    build: ./ecommercebackend
    container_name: ecommerce-backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    networks:
      - ecommerce-network

  frontend:
    build: ./ecommerce-frontend
    container_name: ecommerce-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - ecommerce-network

networks:
  ecommerce-network:
<<<<<<< HEAD
    driver: bridge
=======
    driver: bridge
>>>>>>> 990174023d1bdcb014ef88d1e3165d6fbc4bc0a6
