services:
  - type: web
    name: ecommerce-backend
    env: docker
    rootDir: ecommercebackend
    plan: free
    autoDeploy: true
    envVars: []

  - type: web
    name: ecommerce-frontend
    env: docker
    rootDir: ecommerce-frontend
    plan: free
    autoDeploy: true
