services:
  - type: web
    name: ecommerce-backend
    env: docker
    rootDir: ecommercebackend
    plan: free
    envVars:
      - key: SPRING_DATASOURCE_URL
        valueFromDatabase:
          name: ecommerce-db
          property: connectionString
      - key: SPRING_DATASOURCE_USERNAME
        valueFromDatabase:
          name: ecommerce-db
          property: username
      - key: SPRING_DATASOURCE_PASSWORD
        valueFromDatabase:
          name: ecommerce-db
          property: password
    autoDeploy: true

  - type: web
    name: ecommerce-frontend
    env: docker
    rootDir: ecommerce-frontend
    plan: free
    autoDeploy: true

databases:
  - name: ecommerce-db
    engine: mysql
    plan: free
